<!DOCTYPE html>
<html lang="en">
    <head>
        <title>So Green IT</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    </head>
    <body>
        <div class="container">
            <section id="jumbotron" class="jumbotron">
                <h1 class="display-4">So Green IT</h1>
                <p class="lead">A Web API to help web developers to follow green coding best practices!</p>
            </section>
            <section id="input">
                <form>
                    <h3>General Informations</h3>
                    <div class="form-group">
                        <label for="project-id">So Green IT project ID</label>
                        <input type="number" class="form-control" id="project-id" placeholder="The ID of your existing project" />
                        <small class="form-text text-muted">If you have already created a project, you can reuse the same ID to bound new results to it</small>
                    </div>
                    <div class="form-group">
                        <label for="url">
                            URL <span class="text-danger">*</span>
                        </label>
                        <input type="url" class="form-control" id="url" placeholder="Enter the URL of the page you would like to test" required />
                        <small class="form-text text-muted">It's the URL of the hosted web page that you want to test</small>
                    </div>
                    <hr />
                    <h3>Green Tests</h3>
                    <div class="form-group">
                    </div>
                    <button type="submit" id="btn-run" class="btn btn-primary">Run!</button>
                </form>
            </section>
            <br />
            <section id="progress" style="display: none;">
                <p>
                    <em>Scan in progress...</em>
                </p>
                <div class="progress" style="height: 20px">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </section>
            <section id="results" class="alert alert-success" style="display: none">
                <template id="green-test-success">
                    <li class="list-group-item list-group-item-success"></li>
                </template>
                <template id="green-test-failure">
                    <li class="list-group-item list-group-item-danger"></li>
                </template>
                <h3>Your scan is complete!</h3>
                <div class="row">
                    <div class="col-xs-12 col-md">
                        <h4>General informations</h4>
                        Ecoindex Grade: <span id="grade" class="font-weight-bold"></span>
                        <br />
                        So Green IT project ID #<span id="output-id"></span>
                        <br />
                    </div>
                    <div class="col-xs-12 col-md mt-xs-5">
                        <h4>Green Tests results:</h4>
                        <ul class="list-group"></ul>
                    </div>
                </div>
            </section>
            <section id="error" class="alert alert-danger" style="display: none">
                <h3>Unable to perform your scan</h3>
                <p>An error occured during the computation...</p>
            </section>
        </div>
        <script>
            function onProgress (evt) {
                if (evt.lengthComputable) {
                    const percent = 100 * (evt.loaded / evt.total)
                    const progressBar = document.querySelector('div.progress > .progress-bar')

                    progressBar.setAttribute('aria-valuenow', percent)
                    progressBar.style.width = `${percent}%`
                    progressBar.textContent = `${percent}%`
                }
            }

            function onError (evt) {
                document.querySelector('#progress').style.display = 'none'

                const progressBar = document.querySelector('div.progress > .progress-bar')
                progressBar.setAttribute('aria-valuenow', 0)
                progressBar.style.width = '0%'
                progressBar.textContent = '0%'
            }

            function refreshResults (res) {
                const resultList = document.querySelector('ul.list-group')
                while (resultList.firstChild) {
                    resultList.removeChild(resultList.firstChild)
                }

                const templateResultSuccess = document.querySelector('#green-test-success')
                const templateResultFailure = document.querySelector('#green-test-failure')

                for (const bp in res.results) {
                    if (res.results[bp]) {
                        templateResultSuccess.content.querySelector('li').textContent = `Test #${bp}`
                        resultList.appendChild(document.importNode(templateResultSuccess.content, true))
                    } else {
                        templateResultFailure.content.querySelector('li').textContent = `Test #${bp}`
                        resultList.appendChild(document.importNode(templateResultFailure.content, true))
                    }
                }

                document.querySelector('#grade').textContent = res.ecoindex
                document.querySelector('#output-id').textContent = res.project
                document.querySelector('#results').style.display = 'block'
            }
    
            document.querySelector('form').addEventListener('submit', function (evt) {
                evt.preventDefault()

                document.querySelector('#progress').style.display = 'block'
                document.querySelector('#results').style.display = 'none'
                document.querySelector('#error').style.display = 'none'
                
                const req = new XMLHttpRequest()

                req.addEventListener('progress', onProgress)
                req.addEventListener('error', onError)
                req.addEventListener('load', function (evt) {
                    document.querySelector('#progress').style.display = 'none'
                    
                    const progressBar = document.querySelector('div.progress > .progress-bar')
                    progressBar.setAttribute('aria-valuenow', 0)
                    progressBar.style.width = '0%'
                    progressBar.textContent = '0%'
                    
                    if (this.status === 200) {
                        refreshResults(JSON.parse(this.response))
                    } else {
                        document.querySelector('#error').style.display = 'block'
                    }
                })

                req.open('POST', '/scan/static', true)
                req.setRequestHeader('Content-Type', 'application/json')

                const id = parseInt(document.querySelector('#project-id').value)
                if (!isNaN(id)) {
                    req.send(JSON.stringify({
                        id,
                        url: document.querySelector('#url').value
                    }))
                } else {
                    req.send(JSON.stringify({
                        url: document.querySelector('#url').value
                    }))
                }
            })
        </script>
    </body>
</html>